In [3]:
%store -r merged_df

In [21]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt

from statsmodels.tsa.seasonal import seasonal_decompose

## MODEL PREP AND MODELING DATA

Check for Stationarity. Quick look at trends yoy by dea class

need to use date as index. group by product_fda_list_name and qtr_begin_dt to sum units/amounts

In [16]:
grouped_df = merged_df.groupby(['qtr_begin_dt','mat_x','opioid','dea_schedule','product_fda_list_name']).sum()

In [26]:
grp_dea_sched_df = merged_df.groupby(['qtr_begin_dt','mat_x','opioid','dea_schedule']).sum().reset_index()

In [27]:
grp_dea_sched_df.set_index('qtr_begin_dt')

,mat_x,opioid,dea_schedule,total_amount_reimbursed,units_reimbursed,total_medicaid_enrollees,units_per_1000,amount_per_1000
qtr_begin_dt,,,,,,,,
2015-01-01,0,1,CII,3480933.12,6858087.43,325313532,5502.263642,2792.762842
2015-01-01,0,1,CIII,220893.23,335836.00,46117244,269.442207,177.223286
2015-01-01,0,1,CIV,94139.87,841797.00,27421064,675.376200,75.528694
2015-01-01,0,1,CV,2722.34,66911.78,8724884,53.683517,2.184141
2015-01-01,1,1,CII,31869.02,189851.00,7478472,152.318014,25.568608
...,...,...,...,...,...,...,...,...
2018-10-01,0,1,CIV,271002.60,1071721.00,38984130,824.736373,208.548402
2018-10-01,0,1,CV,7177.05,214975.00,11695239,165.432703,5.523055
2018-10-01,1,1,CII,17071.43,119770.00,9096297,92.168275,13.137215
2018-10-01,1,1,CIII,15536335.28,3202983.22,53278311,2464.836245,11955.892267
2018-10-01,1,1,CIV,13729.63,1201.50,6497355,0.924607,10.565553

Evaluate at the DEA Schedule level for seasonal decomposition

In [28]:
decomp = seasonal_decompose(grp_dea_sched_df['units_per_1000'], model = 'multiplicative')

ValueError: You must specify a period or x must be a pandas object with a DatetimeIndex with a freq not set to None